body{
  position: relative;
  background-color: $backgroundColor;
}

header{
  padding: 3rem 3rem 0 3rem;
  display:flex;
  justify-content:space-between;
  flex-direction: column;
    @media (min-width: 768px){
      flex-direction: row;
    }
  h1{
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: $mainGray;
    text-transform: uppercase;
      @media (min-width: 768px) {
        text-align:left;
      }
  }
  .search{
    margin: 0.67em 0;
      @media (min-width: 768px) {
        width:32%;
      }
  }
}

.grid-container{
  margin: 3rem 3rem;
}

.hidden{
  display: none;
} 
main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  display: flex;
  width: 100%;
  padding: 2rem;
  margin: .5rem 0;
  border-radius: 1rem;
  border-color: $mainGray;
  border: 1px solid $mainGray;
  justify-content: center;
  //Resize cards when title goes from 2 lines to 1
  @media(min-width: 513px){
    width:48%;
  }
  //tablet styles
  @media (min-width: 768px) {
    width:31%;
  }
  //laptop and desktop styles
  @media (min-width: 1024px) {
    width:32%;
    flex-direction: row;
    padding: .75rem 1.5rem;
    justify-content: start;
  }
  &:hover {
    box-shadow: 0 0 8px 4px rgba(140, 140, 140, 0.2);
  }
}

.avatar{
  border-radius: 50%;
  @media (min-width: 1024px){
    margin:auto;
    height: 100px;
    widtH: 100px;
  }
  @media (min-width: 1440px) {
    width: 130px;
    height: 130px;
  }
}

.text-container{
  text-align: center;
  padding-top: 1rem;
  @media (min-width: 1024px){
    padding: 1rem;
    margin: auto;
    text-align: start;
    font-size: .55rem;
  }
}

p{
  margin-bottom: 0;
  color: $bodyColor;
  @media (min-width: 1440px) {
    font-size: 1rem;
  }
}

h2{
  @media (min-width: 1024px) {
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  @media (min-width: 1440px) {
    font-size: 1.5rem;
  }
}

//--Lightbox Styles--//
.lightbox-text{
    text-align: center;
  }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4)
  }

.modal {
  width: 375px;
  height: auto;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid $mainGray;
  border-radius: 5px;
  padding: 30px 20px;
  }

.modal-close {
  position: absolute;
  background-color:$backgroundColor;
  right: 0px;
  top: 5px;
  cursor: pointer;
  span{
    width:auto;
  }
  }

  button.modal-close {
    border: none;
}

.modal-content{
  --mdb-modal-box-shadow: 0;
}

.lightbox-close{
  fill: $backgroundColor;
  &:hover{
    transition-duration: .5s;
    filter: invert(.5);
  }
}
//--Lightbox Arrow Styles--//
  i.fas.fa-arrow-left,
  i.fas.fa-arrow-right{
    padding:1rem;
  }