body{
  position: relative;
  margin: 3rem 3rem;
  background-color: $backgroundColor;
}

header{
  display:flex;
  justify-content:space-between;
  flex-direction: column;
    @media (min-width: 768px){
      flex-direction: row;
    }
  h1{
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: $mainGray;
    text-transform: uppercase;
      @media (min-width: 768px) {
        text-align:left;
      }
  }
  .search{
    margin: 0.67em 0;
      @media (min-width: 768px) {
        width:32%;
      }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4)
  }

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid $mainGray;
  border-radius: 5px;
  padding: 30px 20px;
  }

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  }

.hidden{
  display: none;
} 
main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  display: flex;
  width: 100%;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  border-color: $mainGray;
  border: 1px solid $mainGray;
  justify-content: center;
  @media (min-width: 768px) {
    width:45%;
    margin: 5% 0;
  }
  @media (min-width: 1024px) {
    width:32%;
    margin: 1% 0;
    flex-direction: row;
    padding: .75rem 1.5rem;
  }
  &:hover {
    box-shadow: 0 0 8px 4px rgba(140, 140, 140, 0.2);
  }
}

.avatar{
  border-radius: 50%;
  @media (min-width: 1024px){
    height: 7rem;
  }
}

.text-container{
  text-align: center;
  padding-top: 1rem;
  @media (min-width: 1024px){
    padding-top: 0;
    padding-left: 1rem;
    text-align: start;
    font-size: .55rem;
  }
}

p{
  margin-bottom: 0;
}

h2{
  @media (min-width: 1024px) {
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 0;
  }
}