body{
  position: relative;
  margin: 3rem 3rem;
}

header{
  display:flex;
  justify-content:space-between;
  flex-direction: column;
    @media (min-width: 768px){
      flex-direction: row;
    }
  h1{
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: darkslategrey;
    text-transform: uppercase;
      @media (min-width: 768px) {
        text-align:left;
      }
      
  }
  .search{
    margin: 0.67em 0;
      @media (min-width: 768px) {
        width:32%;
      }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4)
  }

.modal {
  width: 375px;
  Techdegree
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
  }

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  }

.hidden{
  display: none;
}